

.mm-search-area{
    .input-group-text{
        background-color: white;
        border-bottom: 3px solid black;
        border-top:none;
        border-left: none;
        border-right: none;
        border-radius: 0 !important;
    }

    input{
        @extend .input-group-text;
    }
}

.droppable{
    min-width: 110px;
    padding: 20px 10px;

    border-radius: 5px;
    list-style-type: none;
    min-height: 580px;

  }
  
  .dropped{
    border: 2px dashed green;
    background-color: #3500fd47;

  }