

.mm-search-area{
    .input-group-text{
        background-color: white;
        border-bottom: 3px solid black;
        border-top:none;
        border-left: none;
        border-right: none;
        border-radius: 0 !important;
    }

    input{
        @extend .input-group-text;
    }
}

.droppable{
    min-width: 110px;
    padding: 20px 10px;

    border-radius: 5px;
    list-style-type: none;
    min-height: 580px;

  }
  
  .dropped{
    border: 2px dashed green;
    background-color: #3500fd47;

  }
  .dot {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: inline-block;
  }
  .greenborder{
    border:0.5px solid rgb(0 255 0 / 23%) !important
  }

  .redborder{       
    border:0.5px solid rgb(255 4 4 / 23%) !important
  }